<table border=0 cellpadding=0 cellspacing=0 width=500>
<tr><td class="orange"><b>Leider ist ein Fehler aufgetreten:</b></td></tr>
<tr><td colspan=3>&nbsp;</td></tr>
<tr><td align=center valign=middle>
<table border=0 cellpadding=10 cellspacing=0 width=400 height=200>
<tr><td colspan=3><!-- ERRORMESSAGE -->&nbsp;</td></tr>
<tr><td colspan=3>Bitte versuchen Sie diese Seite zu aktualisieren. Falls der Fehler nochmals auftritt, wenden Sie sich bitte an <a href="mailto:<!-- CODEWRITEREMAIL -->"><b><!-- CODEWRITEREMAIL --></b></a></td></tr>
</table>
</td></tr>
<tr><td colspan=3>&nbsp;</td></tr>
</table>
