<html>
<head>
<title>Frowein Newsletter</title>
</head>
<body bgcolor="#ffffff" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">
<table background="back.gif" border="0" height="1144" width="596">
  <tr>
    <td valign="top"><div style="margin:36px 0px 0px 132px; padding:5px; width:412px;">
        <div id="logoHolder" style="height: 76px;"><img src="logo.gif" width="334" height="49"></div>
        <div id="contentHolder" style="color:#000000; font-size:12px; font-family:Verdana,Arial;">
          <div style="color:#E60004; font-size:16px; font-family:Verdana,Arial; font-weight:bold; margin:13px 0 20px -24px; position: relative; width: 412px;"><img src="bigBlock.gif" alt="" width="18" height="18" border="0" style="margin-right:6px;">Herzlich willkommen bei Biozide</div>
          <div>Sie haben mit Schädlingen in Räumen zu tun, also in der unmittelbaren Nähe des Menschen? Dort wo er wohnt, ißt und schläft? Oder wo Nahrungsmittel hergestellt, gelagert oder verzehrt werden?</div>
          <div style="color:#E60004; font-size:12px; font-family:Verdana,Arial; font-weight:bold; margin:10px 0 10px -14px;  position: relative; width: 412px"><img src="smallBlock.gif" alt="" border="0" style="margin-right:5px;">Herzlich willkommen bei Biozide</div>
          <div>Da die Bekämpfung dieser Schädlinge drohende  Verluste verhindert und Menschen vor gesundheitlichen Risiken bewahrt, ist sie unverzichtbar. Dabei ist klar: Bekämpfungsmittel für derart sensible Bereiche erfordern neben zuverlässiger Wirksamkeit ein Maximum an Sicherheit. </div>
        </div>
        <div id="unsubscribeHolder" style="color:#000000; font-size:8pt; font-family:Verdana,Arial; height:54px;margin-top:30px;">Sollten Sie unseren Newsletter nicht mehr empfangen wollen, senden Sie uns bitte eine Nachricht an: info@frowein808.de</div>
        <div id="footerHolder" style="color:#000000; font-size:8pt; font-family:Verdana,Arial;"> <img src="logo_bottom.gif" width="84" height="100" style="float: left; margin-right: 10px;">
          <div style=""> <span style="color:#E60004;">FROWEIN GMBH &amp; CO. KG</span>
            <p>D-72437 Albstadt, Postfach 201440<br>
              D-72461 Albstadt, Am Reislebach 83<br>
              Tel. +49 (74 32) 9 56-0 &middot; Fax +49 (74 32) 9 56-1 38<br>
              <a href="http://www.frowein808.de" target="_blank">www.frowein808.de</a> &middot; eMail: <a href="mailto:info@frowein808.de">info@frowein808.de</a></p>
            <p><br>
              <a href="mailto:info@frowein808.de"></a> </p>
          </div>
        </div>
      </div></td>
  </tr>
</table>
</body>
</html>
